/* Your code here */
.main {
    margin: 5px 0;
}

.nav__menu-list {
    display: flex;
    justify-content: center;
    line-height: 12px;
}

.nav__menu-list-item {
    padding: 10px;
}

@media screen and (max-width: 1199px) {
    .main {
        display: none;
    }
}
