/* Your code here */
.main__content-container {
    display: grid;
    font-family: georgia,"times new roman",times,serif;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;

}

.main__content-front-Page {
    border-bottom: 1px solid #6f6f6f;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
}


.article__header {
    padding: 0;
}

.article__list {
    font-size: 15px;
    line-height: 16px;
    list-style: disc;
    margin: 10px 0;
}

.article__list > li {
    display: list-item;
    margin-left: 15px;
    padding: 10px;
}

.article__comments {
    color: #326891;
    font-size: 15px;
    line-height: 16px;
    padding: 5px;
}

.main__container-video-content {
    margin-bottom: 10px;
}

.video__description {
    margin-bottom: 50px;
}

.main__content-bottom-section {
    border-bottom: 1px solid#6f6f6f;
    display: grid;
    font-size: 15px;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
    padding: 10px;

}

.main__content-opinions-section {
    border-left: 1px solid #e2e2e2;
    padding-left: 10px;
}

.main__content-opinions-section > article {
    margin-bottom: 10px;
    padding: 10px;
}

.main__content-opinions-section .article__text-content {
    font-size: 15px;
    margin-top: 5px;
}

.article__section_title {
    padding: 10px 0;
}

.main__content-opinions-section .article__comments {
    padding: 10px 0;
}

.content__link {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto 2fr;
    border-top: 1px solid #e2e2e2;
}

.content__link .article {
    font-size: 14px;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 10px;
}

.content__link-left {
    /* display: grid; */
    grid-template-rows: repeat(4, 1fr);
    border-right: 1px solid #e2e2e2;
    padding-right: 10px;

}

.content__link-left .article__title {
    padding-right: 1rem;
}

.content__link-right {

    grid-template-rows: 1fr 1fr 3fr;
    padding: 10px 0;

}

.last__article {
    border-bottom: none !important;
}


h1 {
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0;
    padding: 10px 0;
}

h2 {
    font-weight: bold;
}

h3 {
    color: #999;
    font-size: 12px;
    font-weight: normal;
}

@media screen and (min-width: 900px ) and (max-width: 999px) {
    .main__content-container {
        grid-template-columns: 2fr 1fr;
    }
    .main__content-front-Page {
        grid-template-columns: 3fr 1fr;
    }

    .main__container-video-content {
        width: 320px;
        margin-left: 5px;
    }

    iframe {
        width: 100%;
    }

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .main__content-front-Page h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        width: 100%;
    }

    .content__link {
        grid-template-columns: 2fr auto;
    }

    .content__link h2 {
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 899px) {
    .main__content-front-Page {
        display: flex;
        flex-direction: column;
    }
    .content__link {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 14px;
    }
    h3 {
        font-size: 11px;
    }
}
